<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Linked-in Demo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav class="nav">
        <div class="nav-left">
            <a href="index.html" class="logo">
                <i class="fab fa-linkedin"></i>
            </a>
            <div class="search-box">
                <span>
                    <i class="fas fa-search"></i>
                </span>
                <input type="text" placeholder="Search...">
            </div>
        </div>
        <div class="nav-middle">
            <ul>
                <li>
                    <a class="active" href="#">
                        <i class="fas fa-home"></i>
                        <span>
                            Home
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-user"></i>
                        <span>
                            My Network
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-briefcase"></i>
                        <span>
                            Jobs
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-comments"></i>
                        <span>
                            Messaging
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-bell"></i>
                        <span>
                            Notifications
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="nav-right">
            <div id="user-profile" class="user-profile">
                <img src="img/avatar1.jpg" alt="">
                <div class="toggle-menu">
                    <div class="toggle-menu-profile">
                        <img src="img/avatar1.jpg" alt="">
                        <div>
                            <h3>Aziza Ahmed</h3>
                            <a href="profile.html">See your profile</a>
                        </div>
                    </div>
                    <hr>
                    <div class="question-link">
                        <a href="#">
                            <span>
                                <i class="fas fa-circle-question"></i>
                            </span>
                        </a>
                        <p>Giv Feadback</p>
                        <span>></span>
                    </div>
                    <div class="question-link">
                        <a href="#">
                            <span>
                                <i class="fas fa-cog"></i>
                            </span>
                        </a>
                        <p>Settings & Privacy</p>
                        <span>></span>
                    </div>
                    <div class="question-link">
                        <a href="#">
                            <span>
                                <i class="fas fa-circle-question"></i>
                            </span>
                        </a>
                        <p>Help & Support</p>
                        <span>></span>
                    </div>
                    <div class="question-link">
                        <a href="#">
                            <span>
                                <i class="fas fa-moon"></i>
                            </span>
                        </a>
                        <p>Display And Accessability</p>
                        <span>></span>
                    </div>
                    <div class="question-link">
                        <a href="#">
                            <span>
                                <i class="fas fa-sign-out-alt"></i>
                            </span>
                        </a>
                        <p>Logout</p>
                        <span>></span>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="sidebar-left">
            <div class="sidebar-left-info">
                <img src="img/banner-2.jpeg" alt="">
                <div class="profile-image">
                    <img src="img/avatar1.jpg" alt="">
                </div>
                <div class="profile-info">
                    <h1>Aziza Ahmed</h1>
                    <h3>Web Developer on microsoft</h3>
                    <ul>
                        <li>Your profile Views<span>52</span></li>
                        <li>Your post Views<span>152</span></li>
                        <li>Your connections<span>465</span></li>
                    </ul>
                </div>
                <div class="profile-info-links">
                    <a href="#">
                        <span>
                            <i class="fas fa-bookmark"></i>
                        </span>
                        My Items
                    </a>
                    <a href="#">
                        <span>
                            <i class="fas fa-star"></i>
                        </span>
                        Try Premium
                    </a>
                </div>
            </div>
            <div class="recent-activities">
                <h3>RECENT</h3>
                <a href="#">
                    <span>
                        <i class="fas fa-clock-rotate-left"></i>
                    </span>
                    Web developement
                </a>
                <a href="#">
                    <span>
                        <i class="fas fa-clock-rotate-left"></i>
                    </span>
                    User Interface
                </a>
                <a href="#">
                    <span>
                        <i class="fas fa-clock-rotate-left"></i>
                    </span>
                    Online Learning
                </a>
                <a href="#">
                    <span>
                        <i class="fas fa-clock-rotate-left"></i>
                    </span>
                    Learn Online
                </a>
                <a href="#">
                    <span>
                        <i class="fas fa-clock-rotate-left"></i>
                    </span>
                    Code Practice
                </a>
                <h3>Groups</h3>
                <a href="#">
                    <span>
                        <i class="fas fa-users"></i>
                    </span>
                    Python & JavaScript
                </a>
                <a href="#">
                    <span>
                        <i class="fas fa-users"></i>
                    </span>
                    Web Development
                </a>
                <a href="#">
                    <span>
                        <i class="fas fa-users"></i>
                    </span>
                    HTML & CSS
                </a>
                <h3>HASH TAGS</h3>
                <a href="#">
                    <span>
                        #
                    </span>
                    pythonandjavascript
                </a>
                <a href="#">
                    <span>
                        #
                    </span>
                    django
                </a>
                <a href="#">
                    <span>
                        #
                    </span>
                    react
                </a>
                <div class="descover-more-link">
                    <a href="#">Descover More</a>
                </div>
            </div>
            <p id="sidebarToggleBtn">Show More +</p>
        </div>
        <div class="middle-content">
            <div class="create-post">
                <div class="create-post-container">
                    <img src="img/avatar1.jpg" alt="">
                    <textarea rows="1" placeholder="Create New Post..."></textarea>
                </div>
                <div class="create-post-links">
                    <a href="#">
                        <span>
                            <i class="fas fa-camera"></i>
                        </span>
                        Photo
                    </a>
                    <a href="#">
                        <span>
                            <i class="fas fa-video"></i>
                        </span>
                        Video
                    </a>
                    <a href="#">
                        <span>
                            <i class="fas fa-book"></i>
                        </span>
                        Events
                    </a>
                    <a href="#">
                        Post
                    </a>
                </div>
            </div>
            <div class="sort-by">
                <hr>
                <p>Sort By: <span>Top <i class="fa-solid fa-caret-down"></i></span></p>
            </div>
            <div class="post">
                <div class="post-author">
                    <img src="img/avatar1.jpg" alt="">
                    <div>
                        <h1>Aziza Ahmed</h1>
                        <h3>Founder CEO at Gelloio Group I Angel Investor 2 hours ago.</h3>
                        <span>2 h ago</span>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus perspiciatis provident praesentium officia nobis porro quos earum numquam pariatur suscipit alias vero, recusandae aliquam mollitia?</p>
                <img src="img/banner-1.jpeg" alt="">
                <div class="post-activities">
                    <div class="post-activity-top">
                        <div>
                            <span>
                                <i class="fas fa-thumbs-up"></i>
                            </span>
                            <span>
                                <i class="far fa-heart"></i>
                            </span>
                            <span>
                                <i class="fas fa-comment"></i>
                            </span>
                            <p>Mohamed Ali and 75 others</p>
                        </div>
                        <p>22 comments 40 shares</p>
                    </div>
                    <div class="post-activity-bottom">
                        <div class="post-activity-author">
                            <img src="img/avatar1.jpg" alt="">
                            <span>
                                <i class="fa-solid fa-caret-down"></i>
                            </span>
                        </div>
                        <div>
                            <span>
                                <i class="far fa-thumbs-up"></i>
                            </span>
                            <span>
                                Like
                            </span>
                        </div>
                        <div>
                            <span>
                                <i class="far fa-comment"></i>
                            </span>
                            <span>
                                Comment
                            </span>
                        </div>
                        <div>
                            <span>
                                <i class="fas fa-share"></i>
                            </span>
                            <span>
                                Share
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="post-author">
                    <img src="img/avatar1.jpg" alt="">
                    <div>
                        <h1>Aziza Ahmed</h1>
                        <h3>Founder CEO at Gelloio Group I Angel Investor 2 hours ago.</h3>
                        <span>2 h ago</span>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus perspiciatis provident praesentium officia nobis porro quos earum numquam pariatur suscipit alias vero, recusandae aliquam mollitia?</p>
                <img src="img/projects-coffee-1.jpeg" alt="">
                <div class="post-activities">
                    <div class="post-activity-top">
                        <div>
                            <span>
                                <i class="fas fa-thumbs-up"></i>
                            </span>
                            <span>
                                <i class="far fa-heart"></i>
                            </span>
                            <span>
                                <i class="fas fa-comment"></i>
                            </span>
                            <p>Mohamed Ali and 75 others</p>
                        </div>
                        <p>22 comments 40 shares</p>
                    </div>
                    <div class="post-activity-bottom">
                        <div class="post-activity-author">
                            <img src="img/avatar1.jpg" alt="">
                            <span>
                                <i class="fa-solid fa-caret-down"></i>
                            </span>
                        </div>
                        <div>
                            <span>
                                <i class="far fa-thumbs-up"></i>
                            </span>
                            <span>
                                Like
                            </span>
                        </div>
                        <div>
                            <span>
                                <i class="far fa-comment"></i>
                            </span>
                            <span>
                                Comment
                            </span>
                        </div>
                        <div>
                            <span>
                                <i class="fas fa-share"></i>
                            </span>
                            <span>
                                Share
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="post-author">
                    <img src="img/avatar2.jpg" alt="">
                    <div>
                        <h1>Ali Seedy</h1>
                        <h3>Founder CEO at Gelloio Group I Angel Investor 2 hours ago.</h3>
                        <span>2 h ago</span>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus perspiciatis provident praesentium officia nobis porro quos earum numquam pariatur suscipit alias vero, recusandae aliquam mollitia?</p>
                <img src="img/banner-2.jpeg" alt="">
                <div class="post-activities">
                    <div class="post-activity-top">
                        <div>
                            <span>
                                <i class="fas fa-thumbs-up"></i>
                            </span>
                            <span>
                                <i class="far fa-heart"></i>
                            </span>
                            <span>
                                <i class="fas fa-comment"></i>
                            </span>
                            <p>Mohamed Ali and 75 others</p>
                        </div>
                        <p>22 comments 40 shares</p>
                    </div>
                    <div class="post-activity-bottom">
                        <div class="post-activity-author">
                            <img src="img/avatar2.jpg" alt="">
                            <span>
                                <i class="fa-solid fa-caret-down"></i>
                            </span>
                        </div>
                        <div>
                            <span>
                                <i class="far fa-thumbs-up"></i>
                            </span>
                            <span>
                                Like
                            </span>
                        </div>
                        <div>
                            <span>
                                <i class="far fa-comment"></i>
                            </span>
                            <span>
                                Comment
                            </span>
                        </div>
                        <div>
                            <span>
                                <i class="fas fa-share"></i>
                            </span>
                            <span>
                                Share
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="post-author">
                    <img src="img/avatar3.jpg" alt="">
                    <div>
                        <h1>Mohamed Ali</h1>
                        <h3>Founder CEO at Gelloio Group I Angel Investor 2 hours ago.</h3>
                        <span>2 h ago</span>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus perspiciatis provident praesentium officia nobis porro quos earum numquam pariatur suscipit alias vero, recusandae aliquam mollitia?</p>
                <img src="img/banner-3.jpeg" alt="">
                <div class="post-activities">
                    <div class="post-activity-top">
                        <div>
                            <span>
                                <i class="fas fa-thumbs-up"></i>
                            </span>
                            <span>
                                <i class="far fa-heart"></i>
                            </span>
                            <span>
                                <i class="fas fa-comment"></i>
                            </span>
                            <p>Mohamed Ali and 75 others</p>
                        </div>
                        <p>22 comments 40 shares</p>
                    </div>
                    <div class="post-activity-bottom">
                        <div class="post-activity-author">
                            <img src="img/avatar3.jpg" alt="">
                            <span>
                                <i class="fa-solid fa-caret-down"></i>
                            </span>
                        </div>
                        <div>
                            <span>
                                <i class="far fa-thumbs-up"></i>
                            </span>
                            <span>
                                Like
                            </span>
                        </div>
                        <div>
                            <span>
                                <i class="far fa-comment"></i>
                            </span>
                            <span>
                                Comment
                            </span>
                        </div>
                        <div>
                            <span>
                                <i class="fas fa-share"></i>
                            </span>
                            <span>
                                Share
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar-right">
            <div class="sidebar-news">
                <div class="news-title">
                    <h3>Trending News</h3>
                    <span class="trending-icon">
                        <i class="fas fa-clock"></i>
                    </span>
                </div>
                <a href="#">High Demand for skilled manpower</a>
                <span>1d ago 10,934 readers</span>
                <a href="#">Kareer growing horizotally too</a>
                <span>1d ago 19,934 readers</span>
                <a href="#">Less More visit for US, more for UK</a>
                <span>2d ago 11,934 readers</span>
                <a href="#">More Hiring = higher confidence</a>
                <span>2d ago 14,934 readers</span>
                <a href="#">Guatam Adnal is the worlds third rechest</a>
                <span>3d ago 10,954 readers</span>
                <a href="#" class="read-more-link">Read More</a>
            </div>
            <div class="sidebar-ad">
                <small>Add &middot; &middot; &middot;</small>
                <br>
                <br>
                <p>Master the 5 principals of web design</p>
                <div>
                    <img src="img/avatar1.jpg" alt="">
                    <span>
                        <i class="fas fa-award"></i>
                    </span>
                </div>
                <p><strong>Brand and demand in Xiaami</strong></p>
                <a class="learn-more"> Learn More</a>
            </div>
            <div class="sidebar-copyright">
                <div class="copyright-links">
                    <a href="#">About</a>
                    <a href="#">Accessability</a>
                    <a href="#">Privacy Polacy</a>
                    <a href="#">Get the app</a>
                    <a href="#">More</a>
                </div>
                <p>
                    <span>
                        <i class="fab fa-linkedin"></i>
                    </span> 
                    Linkedup &#196; 2022, All Rights Reserved
                </p>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/js/all.min.js" integrity="sha512-6BTOlkauINO65nLhXhthZMtepgJSghyimIalb+crKRPhvhmsCdnIuGcVbR5/aQY2A+260iC1OPy1oCdB6pSSwQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/script.js"></script>
</body>
</html>