<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Linked-in Demo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav class="nav">
        <div class="nav-left">
            <a href="index.html" class="logo">
                <i class="fab fa-linkedin"></i>
            </a>
            <div class="search-box">
                <span>
                    <i class="fas fa-search"></i>
                </span>
                <input type="text" placeholder="Search...">
            </div>
        </div>
        <div class="nav-middle">
            <ul>
                <li>
                    <a class="active" href="#">
                        <i class="fas fa-home"></i>
                        <span>
                            Home
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-user"></i>
                        <span>
                            My Network
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-briefcase"></i>
                        <span>
                            Jobs
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-comments"></i>
                        <span>
                            Messaging
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-bell"></i>
                        <span>
                            Notifications
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="nav-right">
            <div id="user-profile" class="user-profile">
                <img src="img/avatar1.jpg" alt="">
                <div class="toggle-menu">
                    <div class="toggle-menu-profile">
                        <img src="img/avatar1.jpg" alt="">
                        <div>
                            <h3>Aziza Ahmed</h3>
                            <a href="profile.html">See your profile</a>
                        </div>
                    </div>
                    <hr>
                    <div class="question-link">
                        <a href="#">
                            <span>
                                <i class="fas fa-circle-question"></i>
                            </span>
                        </a>
                        <p>Giv Feadback</p>
                        <span>></span>
                    </div>
                    <div class="question-link">
                        <a href="#">
                            <span>
                                <i class="fas fa-cog"></i>
                            </span>
                        </a>
                        <p>Settings & Privacy</p>
                        <span>></span>
                    </div>
                    <div class="question-link">
                        <a href="#">
                            <span>
                                <i class="fas fa-circle-question"></i>
                            </span>
                        </a>
                        <p>Help & Support</p>
                        <span>></span>
                    </div>
                    <div class="question-link">
                        <a href="#">
                            <span>
                                <i class="fas fa-moon"></i>
                            </span>
                        </a>
                        <p>Display And Accessability</p>
                        <span>></span>
                    </div>
                    <div class="question-link">
                        <a href="#">
                            <span>
                                <i class="fas fa-sign-out-alt"></i>
                            </span>
                        </a>
                        <p>Logout</p>
                        <span>></span>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="profile-content">
            <div class="profile-content-inner">
                <img src="img/banner-2.jpeg" alt="">
                <div class="profile-user-image">
                    <img src="img/avatar1.jpg" alt="">
                </div>
                <div class="profile-user-info">
                    <h3>Aziza Ahmed</h3>
                    <h4>Founder CEO at Gelloio Group I Angel Investor 2 hours ago.</h4>
                    <a href="#">Khartoum Sudan <span>Contact Info</span></a> 
                    <div class="profile-mutual">
                        <img src="img/avatar3.jpg" alt="">
                        <p>One Mutual Connection Mohamed Ali</p>
                    </div>
                    <div class="profile-links">
                        <a href="#">
                            <span>
                                <i class="fas fa-user-plus"></i>
                            </span>
                            Connect
                        </a>
                        <a href="#">
                            <span>
                                <i class="fas fa-comments"></i>
                            </span>
                            Message
                        </a>
                    </div>                 
                </div>
            </div>
            <div class="profile-description">
                <h3>About</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut cupiditate necessitatibus pariatur nobis voluptatem, fugit ipsum, asperiores rem saepe sed expedita eum minus iusto. Ipsam, ducimus rerum? Et, recusandae vero!</p>
                <a href="#" class="see-more-link">See More...</a>
            </div>
            <div class="profile-description">
                <h3>Experience</h3>
                <div class="experience-item">
                    <span>
                        <i class="fab fa-node-js"></i>
                    </span>
                    <div>
                        <h4>Lead Frontend developer</h4>
                        <b>Microsoft Full Time</b>
                        <b>Feb 2021 - Present - 1.5 years</b>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea quia ipsa cumque eaque, illum nihil accusantium voluptatem quidem possimus omnis error incidunt harum natus dignissimos inventore odit voluptates repellat. Quam!</p>
                        <hr>
                    </div>
                </div>
                <div class="experience-item">
                    <span>
                        <i class="fab fa-css"></i>
                    </span>
                    <div>
                        <h4>CASC CADING STYLE SHEET</h4>
                        <b>Microsoft Full Time</b>
                        <b>Feb 2021 - Present - 1.5 years</b>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea quia ipsa cumque eaque, illum nihil accusantium voluptatem quidem possimus omnis error incidunt harum natus dignissimos inventore odit voluptates repellat. Quam!</p>
                        <hr>
                    </div>
                </div>
                <div class="experience-item">
                    <span>
                        <i class="fab fa-google"></i>
                    </span>
                    <div>
                        <h4>Google</h4>
                        <b>Microsoft Full Time</b>
                        <b>Feb 2021 - Present - 1.5 years</b>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea quia ipsa cumque eaque, illum nihil accusantium voluptatem quidem possimus omnis error incidunt harum natus dignissimos inventore odit voluptates repellat. Quam!</p>
                    </div>
                </div>
                <hr>
                <a class="experient-link" href="#">Show all 7 Experiences <i class="fas fa-arrow-right"></i></a>
            </div>
            <div class="profile-description">
                <h3>Education</h3>
                <div class="experience-item">
                    <span>
                        <i class="fas fa-university"></i>
                    </span>
                    <div>
                        <h4>Sudan University</h4>
                        <b>Civil Engineering</b>
                        <b>Feb 2010 - Present - 5 years</b>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea quia ipsa cumque eaque, illum nihil accusantium voluptatem quidem possimus omnis error incidunt harum natus dignissimos inventore odit voluptates repellat. Quam!</p>
                        <hr>
                    </div>
                </div>
                <div class="experience-item">
                    <span>
                        <i class="fas fa-school"></i>
                    </span>
                    <div>
                        <h4>Mohamed Nure School</h4>
                        <b>Secondary School</b>
                        <b>Feb 2009 - Present - 1 years</b>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea quia ipsa cumque eaque, illum nihil accusantium voluptatem quidem possimus omnis error incidunt harum natus dignissimos inventore odit voluptates repellat. Quam!</p>
                        <hr>
                    </div>
                </div>
                <div class="experience-item">
                    <span>
                        <i class="fas fa-user-graduate"></i>
                    </span>
                    <div>
                        <h4>Al Emam Abd Elrhman</h4>
                        <b>Basic School</b>
                        <b>Feb 1996 - Present - 8 years</b>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea quia ipsa cumque eaque, illum nihil accusantium voluptatem quidem possimus omnis error incidunt harum natus dignissimos inventore odit voluptates repellat. Quam!</p>
                    </div>
                </div>
            </div>
            <div class="profile-description">
                <h3>Skills</h3>
                <a href="#" class="skill-link">Python</a>
                <a href="#" class="skill-link">HTML</a>
                <a href="#" class="skill-link">CSS</a>
                <a href="#" class="skill-link">JavaScript</a>
                <a href="#" class="skill-link">Java</a>
                <a href="#" class="skill-link">Django</a>
                <a href="#" class="skill-link">React</a>
                <a href="#" class="skill-link">Node.js</a>
                <a href="#" class="skill-link">Express</a>
                <a href="#" class="skill-link">Postgress sql</a>
                <a href="#" class="skill-link">Mongodb</a>
                <a href="#" class="skill-link">C++</a>
                <a href="#" class="skill-link">SASS</a>
                <a href="#" class="skill-link">Next.js</a>
            </div>
            <div class="profile-description">
                <h3>Languages</h3>
                <div class="language-btn">Arabic</div>
                <div class="language-btn">English</div>
            </div>
            <div class="profile-footer">
                <div class="sidebar-copyright">
                    <div class="copyright-links">
                        <a href="#">About</a>
                        <a href="#">Accessability</a>
                        <a href="#">Privacy Polacy</a>
                        <a href="#">Get the app</a>
                        <a href="#">More</a>
                    </div>
                    <p>
                        <span>
                            <i class="fab fa-linkedin"></i>
                        </span> 
                        Linkedup &#196; 2022, All Rights Reserved
                    </p>
                </div>
            </div>
        </div>
        <div class="profile-sidebar">
            <div class="sidebar-ad">
                <small>Add &middot; &middot; &middot;</small>
                <br>
                <br>
                <p>Master the 5 principals of web design</p>
                <div>
                    <img src="img/avatar1.jpg" alt="">
                    <span>
                        <i class="fas fa-award"></i>
                    </span>
                </div>
                <p><strong>Brand and demand in Xiaami</strong></p>
                <a class="learn-more"> Learn More</a>
            </div>
            <div class="people">
                <h2>People you may know</h2>
                <div class="person-row">
                    <img src="img/avatar3.jpg" alt="">
                    <div>
                        <h3>Mohamed Ali</h3>
                        <p>Web Developer</p>
                        <a href="#">Connect</a>
                    </div>
                </div>
                <div class="person-row">
                    <img src="img/avatar2.jpg" alt="">
                    <div>
                        <h3>Ali Seedy</h3>
                        <p>Web Developer</p>
                        <a href="#">Connect</a>
                    </div>
                </div>
                <div class="person-row">
                    <img src="img/avatar1.jpg" alt="">
                    <div>
                        <h3>Jane Doe</h3>
                        <p>Desiner</p>
                        <a href="#">Connect</a>
                    </div>
                </div>
                <div class="person-row">
                    <img src="img/avatar3.jpg" alt="">
                    <div>
                        <h3>Islam</h3>
                        <p>Web Developer</p>
                        <a href="#">Connect</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/js/all.min.js" integrity="sha512-6BTOlkauINO65nLhXhthZMtepgJSghyimIalb+crKRPhvhmsCdnIuGcVbR5/aQY2A+260iC1OPy1oCdB6pSSwQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/script.js"></script>
</body>
</html>